```{=html}
<div class="custom_listing">
<ul>
<% for (const item of items) { %>
  <li>
    <span class="li-contents-container">
      <span class="title-container">
        <a href="<%- item.path %>"><%= item.title %></a> <span class="detail">(<%= item.date %>)</span>
      </span>
      <span class="categories"> <%= String(item.categories).replace(/,/g, ', ') %> </span>
  </span>
</li>
<% } %>
</ul>
</div>
```
