
/*-- scss:defaults --*/

.title {
    padding-top: 1em;
    // color: black;
    font-size: 2em;
    text-align: center;
}


.quarto-title-banner {
    padding-top: 2em;
    padding-bottom: 2em;
}

.quarto-title {
    padding: 0;
}